/*
General Styles Override
================================ */
body {
    background-color: #e4e4e4 !important;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #2555d9;
    transition: color 0.1s;
}

a:hover {
    color: #7492e6 !important;
    text-decoration: none !important;
    transition: color 0.1s;
}

button:hover {
    transition: color 0.1s;
}

.container {
    background-color: #fff;
}

/* Pagination is created on many different templates */
.pagination_container {
    align-items: center;
    justify-content: center;
}

.pagination ul {
    margin: 24px auto;
}

.pagination li {
    display: inline-block;
    margin: 0 4px;
    padding: 8px;

    color: #fff;
    background-color: #2555d9;
    border: 1px solid #2555d9;

    font-size: 0.8rem;
    border-radius: 2px;
    text-align: center;
}

.pagination li a {
    color: #fff;
}

/*
Header Template Styles
================================ */
/* Logo Area */
.header {
    align-items: center;
    height: 96px;
    background-color: #fff;
}

.logo-title {
    display: inline-block;
    position: relative;
    top: 4px;
    height: 40px;
    color: #22212d;
    font-size: 1.75rem;
    font-weight: 700;
}

@media (max-width: 576px) {
    .logo-title {
        font-size: 1.4rem;
    }
}

.menu-button i {
    font-size: 1.75rem;
    float: right;
}

.menu-button i:hover {
    cursor: pointer;
}

/* Menu Area */
.menu {
    margin-bottom: 0;
    padding: 1rem;

    background-color: #fafafa;
    
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1) inset;
    text-align: right;
}

.menu li {
    padding-right: 0;
}

.menu-item {
    height: 56px;
    padding: 8px 0;
}

.menu-item i {
    padding-right: 4px;
    font-size: 1.5rem;
    vertical-align: -0.2rem;
}

.menu-item div {
    display: inline-block;
    position: relative;
    top: -4px;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .menu {
        display: flex !important;
        padding: 0;
        text-align: center;
    }

    .menu-item {
        padding: 12px 0 8px 0;
    }
}

/* Banner Area */
.header_news {
    height: 40px;
    line-height: 36px;
    text-align: center;
    transition: all 0.1s;
}

.header_news-content {
    padding: 8px 0;
    background-color: #00bf6f;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.header_news a {
    color: #fff;
    transition: all 0.1s;
}

.header_news a:hover {
    color: #00bf6f !important;
    background-color: #fff;
    transition: all 0.1s;
}

.header_news i {
    padding-right: 4px;
    font-size: 1.5rem;
    vertical-align: -0.4rem;
}

.header_news div {
    display: inline-block;
}

/* Sticky Footer Navigation */
.nav_footer {
    display: none !important;
    height: 40px;

    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;

    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
    line-height: 40px;
    text-align: center;
}

.nav_footer a {
    color: #fff;
}

.nav_footer a i {
    vertical-align: -0.1rem;
}

.nav_search > .col-12 {
    padding: 0;
}

.nav_search-input {
    width:100%;
    height: 32px;
    padding: 0;
    padding-left: 8px;

    color: #777;
    font-size: 0.8rem;

    border: none;
    
    border-top: 1px solid #2555d9;
    border-radius: 2px;
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
}

a.selected {
    color: #2555d9;
    background-color: #fff;
}

.nav_footer-categories_button:hover {
    cursor: pointer;
}

/* Footer Navigation - Category Content */
.nav_categories {
    padding: 8px;
    background-color: #fafafa;
    text-align: center;
}

.nav_category {
    padding: 0 !important;
    padding-bottom: 16px !important;
}

.nav_category:hover {
    cursor: pointer;
}

.nav_category:last-of-type {
    padding-bottom: 0 !important;
}

.nav_category-header {
    font-size: 1rem;
    font-weight: bold;
}

.nav_category-header i {
    float: right;
    padding-top: 1px;
}

.nav_category-item_list {
    display: none;
}

.nav_category-item {
    display: block;
    padding: 4px 0;
    font-size: 0.8rem;
    border-bottom: 1px solid #dae0f2;
}

.nav_category-item:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.nav_category-item i {
    vertical-align: -0.16rem;
}

/* Hide the accompanying text on mobile, display on larger devices */
.nav_footer-text {
    display: none;
}

@media (min-width: 768px) {
    .nav_footer-text {
        display: inline-block;
    }

    .nav_category {
        padding-bottom: 0px !important;
    }
}

/* Hide the footer nav and show it based on scroll position */
.nav_display {
    display: flex !important;
}

/* =============================
Home Page Template Start
================================ */
/*
Hero Area
================================ */
.hero {
    align-items: center;
    justify-content: center;
    height: 256px;
    background: url($assets-moroccan-flower-dark-png) repeat center center fixed;
    /* Background pattern from Toptal Subtle Patterns */
}

.search {
    width: calc(100% - 8px);
    height: 32px;
    padding: 0;
    padding-left: 8px;

    color: #777;
    font-size: 0.8rem;

    border: 0;
    border-radius: 2px;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

/*
Quick Actions
================================ */
.quick-actions {
    align-items: center;
    justify-content: center;
    margin-top: -48px;
}

.action {
    height: 64px;
    margin: 12px 16px;
    background-color: #fff;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 20px solid #2555d9;
    border-radius: 2px;    
}
.action-content {
    display: inline-block;
    width: 100%;
    line-height: 40px;
}

.action-content i {
    float: right;
    font-size: 1.5rem;
}

.canteen {
    border-top: 20px solid #a5cf4f;
    display: none;
}

.canteen a {
    color: #a5cf4f;
}

.canteen a:hover {
    color: #409f68 !important;
}

/*
Home Page Rollup Sections
================================ */
.rollup-header {
    margin-top: 24px;
    padding: 24px 8px;
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
}

.rollup-header:hover {
    cursor: pointer;
}

.rollup-header i {
    float: right;
    padding-top: 2px;
}

.rollup-content {
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #fafafa;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1) inset;
}

.rollup-button {
    height: 64px;
    margin: 12px 16px;
    color: #fff;
    background-color: #2555d9;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
}

.rollup-button_content {
    display: inline-block;
    width: 100%;
    line-height: 64px;

    color: #fff;
}

.rollup-button_content i {
    float: right;
    padding-top: 1px;
}

.internal-header {
    display: none;
}

/*
New Articles
================================ */
.new-articles-feed {
    margin-top: 24px;
    padding: 24px 0;
    background-color: #ebeff8;
}

.new_articles-header {
    padding: 0 24px;
    font-size: 1.25rem;
    font-weight: bold;
}

.new_articles-title {
    padding: 24px;
    padding-bottom: 0;
}

.new_articles-date {
    padding: 0 24px 16px 24px;
    color: #a7a7a7;
    font-size: 0.75rem;
    border-bottom: 1px solid #dae0f2;
}

.new_articles-date:last-of-type {
    border-bottom: none;
    padding: 0 16px;
}
/* =============================
Home Page Template End
================================ */

/* =============================
Category Template Start
================================ */
/* Breadcrumb Navigation */
.breadcrumbs-container {
    margin-bottom: 0;
    padding: 16px 0;

    color: #a7a7a7;
    background-color: #fafafa;
    font-size: 0.75rem;

    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1) inset;
    border-bottom: 1px solid #dae0f2;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;

}

.breadcrumbs li:not(:last-child)::after {
    content: "\0003E";
    padding: 0 2px;
}

@media (min-width: 768px) {
    .breadcrumbs-container {
        background-color: #fff;
        box-shadow: none;
        border: none;
    }
}

/* Category Title and Description */
.category_header {
    padding-top: 24px;
    border-bottom: 1px solid #dae0f2;
}

.category_header-title {
    padding: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.category_header-desc {
    padding: 0 0 24px 0;
    color: #a7a7a7;
    font-size: 0.75rem;
}

/* Category Subsection and Articles */
.category_list {
    padding: 16px;
}

.category_item {
    margin: 8px 0;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.category_item a {
    display: block;
}

.category_item-title {
    padding: 8px 0;

    background-color: #ebeff8;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.category_item-subsection {
    padding: 8px 0;
    border-bottom: 1px solid #dae0f2;
}

.category_item-subsection i {
    float: right;
    padding-top: 1px;
}

.category_item-article {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 0.8rem;
}

.category_item > .category_item-article ~ .category_item-article {
    padding: 8px 0;
}

.category_item-article i {
    vertical-align: -0.1rem;
}

.category_item-more {
    margin-top: 16px;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border-radius: 2px;
}

.category_item-more i {
    float: right;
    padding-top: 1px;
}

/* =============================
Category Template End
================================ */

/* =============================
Section Template Start
================================ */
/* Section Title and Description */
.section_header {
    padding-bottom: 8px;
    border-bottom: 1px solid #dae0f2;
}

.section_header-title {
    padding: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Section/Subsection and Articles */
.section_list {
    padding: 16px 24px;
}

.section_item {
    margin: 8px 0;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.section_item a {
    display: block;
}

.section_item-subsection {
    padding: 8px 0;
}

.section_item-subsection i {
    float: right;
    padding-top: 2px;
}

.section_item-article {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 0.8rem;
}

.section_item > .section_item-article ~ .section_item-article {
    padding: 8px 0;
}

.section_item-article i {
    vertical-align: -0.1rem;
}

.section_item-more {
    margin-top: 16px;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border-radius: 2px;
}

.section_item-more i {
    float: right;
    padding-top: 2px;
}
/* =============================
Section Template End
================================ */

/* =============================
Article Template Start
================================ */
.article_header {
    padding: 24px 0;
    border-bottom: 1px solid #dae0f2;
}

.article_header-title {
    padding: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.article_header-title i {
    vertical-align: -0.2rem;
}

.article_header-updated {
    padding: 0 0 24px 0;
    color: #a7a7a7;
    font-size: 0.8rem;
}

.article_header-button {
    display: block;
    padding: 8px;
    margin: 0 16px;
    margin-right: 8px;

    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;

    border-radius: 2px;
    text-align: center;
}

.article-subscribe {
    display: block;
    width: 100%;
    min-width: 96px;
    padding: 8px;
    margin-right: 16px;

    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;

    border-radius: 2px;
    text-align: center;
}

.article-unsubscribe_container button {
    width: 100%;
    min-width: 96px;
    padding: 8px;

    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;

    border: none;
    border-radius: 2px;
    text-align: center;
}

.article-unsubscribe_container button:hover {
    color: #7492e6;
}

/* Article Content Restyling */
.article_body {
    padding: 24px 0;
}

.article_body a {
    color: #2555d9;
}

.article_body h1 {
    font-size: 2rem;
}

.article_body h2 {
    font-size: 1.5rem;
}

.article_body h3 {
    font-size: 1.25rem;
}

.article_body h4 {
    font-size: 1rem;
}

.article_body ul {
    list-style: disc;
    padding-left: 24px;
}

.article_body ul ul {
    list-style: circle;
}

.article_body ul ul ul {
    list-style: square;
}

.article_body ul ul ul ul {
    list-style: none;
}

.article_body ul ul ul ul li::before {
    margin-right: 4px;
    font-size: 0.55rem;
    vertical-align: 0.1rem;
    content: "\2610";
}

.article_body ol {
    padding-left: 24px;
}

.article_body p, .article_body li, .article_body table {
    font-size: 0.8rem;
}

.article_body table {
    max-width: 100%;
    border: none;
}

.article_body img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.article_body pre {
    padding: 16px;
    background-color: #e4e4e4;
    border-radius: 2px;
}

.article_body code {
    margin: 0 2px;
    padding: 0 4px;
    color: #ff4c5b;
    background-color: #fafafa;
    border: 1px solid #dae0f2;
}

/* Article Callouts/Warnings */
.article_callout {
    width: 100%;
    margin: 32px 0;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
}

.info {
    color: #fff;
    background-color: #7492e6;
    border: 1px solid #2555d9;
    
}

.info:before {
    padding-right: 8px;
    font-family: "phosphor" !important;
    font-size: 1.5rem;
    font-weight: normal !important;
    vertical-align: middle;
    content: "\ec74";
}

.alert {
    color: #fff;
    background-color: #ffcc1e;
    border: 1px solid #d1a719;
}

.alert:before {
    padding-right: 8px;
    font-size: 1.5rem;
    font-family: "phosphor" !important;
    font-weight: normal !important;
    vertical-align: middle;
    content: "\ee44";
}

.warning {
    color: #fff;
    background-color: #ff4c5b;
    border: 1px solid #d13f4b;
}

.warning:before {
    padding-right: 8px;
    font-size: 1.5rem;
    font-family: "phosphor" !important;
    font-weight: normal !important;
    vertical-align: middle;
    content: "\edee";
}

/* Simple Inline Callouts */
/* Inline Default Simple */
.inline_callout-default_simple {
    padding-left: 8px;
    border-left: 4px solid #22212d;
}

.inline_callout-default_simple .default_title {
    font-size: 1rem;
}

.inline_callout-default_simple .default_body {
    font-size: 0.8rem;
}

/* Inline Info Simple */
.inline_callout-info_simple {
    padding-left: 8px;
    border-left: 4px solid #2555d9;
}

.inline_callout-info_simple .info_title {
    font-size: 1rem;
}

.inline_callout-info_simple .info_body {
    font-size: 0.8rem;
}

/* Inline Success Simple */
.inline_callout-success_simple {
    padding-left: 8px;
    border-left: 4px solid #00bf6f;
}

.inline_callout-success_simple .success_title {
    font-size: 1rem;
}

.inline_callout-success_simple .success_body {
    font-size: 0.8rem;
}

/* Inline Alert Simple */
.inline_callout-alert_simple {
    padding-left: 8px;
    border-left: 4px solid #ffcc1e;
}

.inline_callout-alert_simple .alert_title {
    font-size: 1rem;
}

.inline_callout-alert_simple .alert_body {
    font-size: 0.8rem;
}

/* Inline Warning Simple */
.inline_callout-warning_simple {
    padding-left: 8px;
    border-left: 4px solid #ff4c5b;
}

.inline_callout-warning_simple .warning_title {
    font-size: 1rem;
}

.inline_callout-warning_simple .warning_body {
    font-size: 0.8rem;
}

/* Shaded Inline Callouts */
/* Inline Default Shaded */
.inline_callout-default_shaded {
    padding: 8px;
    background-color: #eaeaeb;
    border-left: 4px solid #22212d;
}

.inline_callout-default_shaded .default_title {
    font-size: 1rem;
}

.inline_callout-default_shaded .default_body {
    font-size: 0.8rem;
}

/* Inline Info Shaded */
.inline_callout-info_shaded {
    padding: 8px;
    background-color: #c3d0f4;
    border-left: 4px solid #2555d9;
}

.inline_callout-info_shaded .info_title {
    font-size: 1rem;
}

.inline_callout-info_shaded .info_body {
    font-size: 0.8rem;
}

/* Inline Success Shaded */
.inline_callout-success_shaded {
    padding: 8px;
    color: #fff;
    background-color: #68d9a9;
    border-left: 4px solid #00bf6f;
}

.inline_callout-success_shaded .success_title {
    font-size: 1rem;
}

.inline_callout-success_shaded .success_body {
    font-size: 0.8rem;
}

/* Inline Alert Shaded */
.inline_callout-alert_shaded {
    padding: 8px;
    background-color: #ffe179;
    border-left: 4px solid #ffcc1e;
}

.inline_callout-alert_shaded .alert_title {
    font-size: 1rem;
}

.inline_callout-alert_shaded .alert_body {
    font-size: 0.8rem;
}

/* Inline Warning Shaded */
.inline_callout-warning_shaded {
    padding: 8px;
    color: #fff;
    background-color: #ff949d;
    border-left: 4px solid #ff4c5b;
}

.inline_callout-warning_shaded .warning_title {
    font-size: 1rem;
}

.inline_callout-warning_shaded .warning_body {
    font-size: 0.8rem;
}

/* Article Icon Utilities */
.check {
    display: inline-block;
    color: #00bf6f;
    font-size: 1.25rem;
    vertical-align: middle;
}

/* Article Misc Utilities */
.hr {
    margin: 24px 0;
    border-bottom: 1px solid #dae0f2;
}

/* Change default colors to brand palette */
.wysiwyg-color-blue, .wysiwyg-color-blue90, .wysiwyg-color-blue110, .wysiwyg-color-blue120  {
    color: #2555d9;
}

.wysiwyg-color-red, .wysiwyg-color-red90, .wysiwyg-color-red110, .wysiwyg-color-red120 {
    color: #ff4c5b;
}

.wysiwyg-color-green, .wysiwyg-color-green90, .wysiwyg-color-green110, .wysiwyg-color-green120 {
    color: #00bf6f;
}

.wysiwyg-color-yellow, .wysiwyg-color-yellow90, .wysiwyg-color-yellow110, .wysiwyg-color-yellow120 {
    color: #ffcc1e;
}

/* wysiwyg Restyling */
.wysiwyg-font-size-large {
    font-size: 1rem;
}

/* Attachments Content */
.article_attachments {
    padding: 24px 0;
}

.article_attachments-title {
    font-size: 1rem;
    font-weight: bold;
}

.article_attachments-link {
    padding-bottom: 8px;
    font-size: 0.8rem;
}

.article_attachments-link-meta {
    display: inline-block;
    color: #a7a7a7;
}

/* Voting Content */
.article_vote {
    padding: 16px 0;
}

.article_vote-header {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.article-vote_container button {
    width: 100%;
    margin: 16px 0;
    padding: 8px;

    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;

    border: none;
    border-radius: 2px;
    text-align: center;
}

.article-vote_container button:hover {
    color: #7492e6;
}

.article_vote-count {
    font-size: 0.8rem;
    text-align: center;
}

/* Fancybox Post-Image Insert */
.fancy-p_img {
    color: #a7a7a7;
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
}

img.fancybox:hover {
    cursor: pointer;
}

/* =============================
Article Template End
================================ */

/*
Subscriptions Template Styles
================================ */
.subscriptions-header {
    padding-bottom: 16px;
    border-bottom: 1px solid #dae0f2;
}

.subscriptions-info {
    padding: 0;
    font-size: 0.8rem;
}

.subscriptions-list {
    padding: 24px;
    font-size: 0.8rem;
}

.subscriptions-list li {
    padding: 8px 0;
    border-bottom: 1px solid #dae0f2;
}

/*
Request List Page Template Styles
================================ */
.tickets_cc {
    margin: 16px 0;
}

.tickets_cc-button {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 24px;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border-radius: 2px;
    word-wrap: break-word;
}

.tickets_filter {
    margin-bottom: 32px;
}

.tickets_filter form {
    margin-top: 16px;
}

.requests_filter-search input {
    display: inline-block;
    height: 32px;

    margin: 0 16px 8px 0;
    padding-left: 8px;

    color: #777;
    font-size: 0.8rem;

    border: 1px solid #dae0f2;
    border-radius: 2px;
}

.request_filter-status {
    display: inline-block;
    font-size: 0.8rem;
}

.organization-subscribe {
    display: inline-block;
    width: 96px;
}

.organization-subscribe button {
    min-width: 48px;
    margin-left: 8px;
    padding: 1px;

    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;

    border: none;
    border-radius: 2px;
    text-align: center;
}

.organization-subscribe button:hover {
    color: #7492e6;
}

.tickets_meta {
    padding-left: 16px;
    font-size: 0.8rem;
}

div.tickets_meta-results {
    margin-bottom: 16px;
    padding: 4px 0;
    font-size: 1.25rem;
}

.tickets_meta-none {
    margin-bottom: 24px;
    font-weight: bold;
    text-align: center;
}

.tickets_headers {
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 2px solid #dae0f2;
}

.tickets_list {
    padding: 8px 0;
    font-size: 0.8rem;
    border-bottom: 1px solid #dae0f2;
}

@media (max-width: 576px) {
    .tickets_list-created_header,
    .tickets_list-activity_header,
    .tickets_list-created_content,
    .tickets_list-activity_content {
        display: none;
    }
}

/*
Request View Page Template Styles
================================ */
.request_subject {
    margin-top: 8px;
    font-size: 1.25rem;
    font-weight: bold;
}

.request_followup {
    margin-bottom: 16px;
    padding: 24px 0;

    background-color: #dae0f2;
    font-size: 1rem;
    font-weight: normal;

    text-align: center;
}

.request_followup div {
    display: inline-block;
    position: relative;
    top: -5px;
}

.request_followup i {
    padding-right: 4px;
    color: #2555d9;
    font-size: 1.5rem;
}

/* User Image and Info Area */
.request_header {
    padding-top: 24px;
}

.request_header-author_image {
    padding-right: 0 !important;
}

.request_header-author_info {
    margin-left: -16px;
    padding-top: 0;
    padding-left: 0 !important;
}

@media (max-width: 766px) {
    .request_header-author_info {
        margin-left: 0;
        padding-left: 24px !important;
    }
}

.request_header-author_info a {
    font-size: 1rem;
    font-weight: bold;
}

.request_header-author_title {
    font-size: 0.8rem;
}

.request_header-author_date {
    color: #a7a7a7;
    font-size: 0.8rem;
}

/* User submitted content */
.request_body {
    padding-top: 24px;
}

.request_body-content {
    margin-bottom: 24px;
}

.zd-comment, .zd-comment div {
    font-size: 0.8rem !important;
}

/* Attachements Area */
.request_body-attachments_title {
    font-size: 1rem;
    font-weight: bold;
}

.request_body-attachments {
    font-size: 0.8rem;
}

/* In-ticket reply */
.ticket_reply {
    padding: 24px 0;
}

.ticket_reply-title {
    font-size: 1rem;
    font-weight: bold;
}

.ticket_reply-emailcc_input, .ticket_reply-emailcc label {
    font-size: 0.8rem;
}

#request_comment_body {
    width: 100%;
    font-size: 0.8rem;
}

.ticket_reply-controls {
    margin-top: 16px;
}

/* Not sure this ever appears, but in case it does, make it look nice */
.ticket_reply-controls_mas {
    display: inline-block;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border-radius: 2px;
}

.ticket_reply-controls_submit input {
    display: inline-block;
    width: 128px;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    transition: color 0.1s;
}

.ticket_reply-controls_submit input:hover {
    color: #7492e6;
    transition: color 0.1s;
}

.ticket_reply-controls_submit input:disabled {
    color: #a7a7a7;
    background-color: #fff;
    border: 1px solid #a7a7a7;
}

.ticket_reply-controls_submit input:disabled:hover {
    cursor: not-allowed;
}

/* Ticket Details */
.ticket_details-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.ticket_details-content {
    font-size: 0.8rem;
}

/*
New Request Page Template Styles
================================ */
.request_header-title {
    padding-top: 24px;
    font-size: 1.25rem;
    font-weight: bold;
}

.request_header-desc {
    padding-bottom: 24px;
    font-size: 0.8rem;
}

/* Edit CC & Org labels within auto generator form */
.request_body .request_cc_emails, .request_body .request_organization_id {
    font-size: 0.8rem;
}

.nesty-panel li {
    font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
    font-size: 0.8rem !important;
    font-weight: normal !important;
    line-height: 0.8rem;
}

/* Edit subject field */
#request_subject_label {
    font-size: 1rem;
    font-weight: bold;
}

#request_subject {
    width: 100% !important;
    font-size: 0.8rem;
    font-weight: normal;
}

/* Appears when typing a subject; suggests articles */
.suggestion-list {
    background-color: #fafafa;
    font-size: 0.8rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.suggestion-list .searchbox {
    padding: 8px;
}

.searchbox-suggestions ul {
    margin-bottom: 0;
}

.searchbox-suggestions ul li {
    padding: 4px 0;
}

/* Request text content */
.request_description {
    margin-top: 24px;
}

#request_description_label {
    font-size: 1rem;
    font-weight: bold;
}

/* This is the text area */
#request_description {
    width: 100%;
    height: 128px;
    font-size: 0.8rem;
}

#request_description_hint {
    color: #a7a7a7;
    font-size: 0.8rem;
    font-style: italic;
}

.request_body .form-field label[for="request-attachments"] {
    font-size: 1rem;
    font-weight: bold;
}

.request_body footer {
    margin-top: 24px;
}

.request_body footer input {
    width: 128px;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    transition: color 0.1s;
}

.request_body footer input:hover {
    color: #7492e6;
    transition: color 0.1s;
}

.request_body footer input:disabled {
    color: #a7a7a7;
    background-color: #fff;
    border: 1px solid #a7a7a7;
}

.request_body footer input:disabled:hover {
    cursor: not-allowed;
}

/*
Search Results Template Styles
================================ */
.search_results-header {
    margin: 24px 0;
}

.search_results-header .search_results-header_count {
    font-size: 1.25rem;
    font-weight: bold;
}

.search_results-header_count {
    margin-bottom: 8px;
}

.search_results-header_searchbar {
    font-size: 0.8rem;
    border: 1px solid #dae0f2;
    border-radius: 2px;
}

.search_results-results_list {
    font-size: 0.8rem;
}

.search_results-result_item {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dae0f2;
}

.search_results-result_item-title {
    font-size: 1rem;
}

.search_results-result_item-desc em {
    color: #ff4c5b;
}

.search_results-result_item-time {
    color: #a7a7a7;
    font-size: 0.8rem;
}

.search_results-result_item-path {
    display: inline-block;
    font-size: 0.8rem;
}

.search_results-result_item-path:not(:last-child)::after {
    content: "\0003E";
    padding: 0 2px;
}

/*
User Profile Template Styles
================================ */
.profile_info {
    padding-top: 24px;
}

.profile_info-about_name,
.profile-quick_links-title,
.profile_info-about_name-recent h2,
.setting_title {
    font-size: 1rem;
    font-weight: bold;
}

.profile_info-about_name i {
    vertical-align: -0.2rem;
}

.profile_info-about_name-stats,
.profile_info-about_name-recent ul,
.profile-quick_links li,
.setting_form label,
.setting_form input {
    font-size: 0.8rem;
}

.profile_info-about_desc {
    padding-top: 16px;
}

.profile_info-about_name-recent li,
.profile-quick_links li {
    padding-top: 4px;
}

.internal {
    display: none;
}

/* Modal Settings Pop Up */
.setting_group {
    margin: 12px 0;
}

.setting_group:first-child {
    margin-top: 0;
}

.setting_form input {
    margin-top: 0.47rem;
}

/* Change Bootstrap default corner radius */
.modal-header {
    border-top-right-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

.modal-footer {
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

/*
Error Page Template Styles
================================ */
.error_page {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error-title {
    padding-top: 24px;
    font-size: 1.25rem;
    font-weight: bold;
}

.error-desc {
    font-size: 0.8rem;
}

.error-info {
    padding-bottom: 24px;
    font-size: 0.8rem;
}

.error_button {
    display: block;
    margin-bottom: 24px;
    padding: 8px;
    color: #fff;
    background-color: #2555d9;
    font-size: 0.8rem;
    border-radius: 2px;
}

/*
Footer Template Styles
================================ */
.footer {
    justify-content: center;
    padding: 24px 0;
    background-color: #22212d;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #7492e6;
}

.quick_links, .contact_info {
    padding: 0;
    color: #fff;
}

.quick_links-title, .contact_info-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.contact_info-content li, .quick_links-content li {
    padding-bottom: 4px;
    font-size: 0.8rem;
}

.footer_logo {
    align-items: center;
    justify-content: center;
}

.footer_social {
    text-align: center;
}

.footer_social i {
    padding: 0 8px;
    font-size: 2.25rem;
}

.footer_social .copyright {
    color: #fff;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
}

/*
Wing Card Specific Styles
================================ */
.wingcard-header {
    padding: 24px;
    color: #fff;
    background-color: #2555d9;
    font-size: 1.5rem;
    font-weight: bold;
}

.wingcard-footer {
    padding: 24px;
    color: #fff;
    background-color: #2555d9;
    text-align: center;
}

/* Make list markers bold */
.wingcard_container ol > li::marker {
    font-weight: bold;
}

/* Highlight callout words */
.wingcard_container span {
    color: #2555d9;
    font-weight: bold;
    font-style: italic;
}

/* Add space between list items */
.wingcard_container ol > li {
    padding: 8px 0;
}

.wingcard_container ol > ol {
    margin-top: -12px;
    padding-bottom: 8px;
}

/*
Print Article Styles
================================ */
@media print {
    .wingcard-header, .wingcard-footer {
        color: #fff !important;
        background-color: #2555d9 !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
